# Ignore .env files
*.env

# Ignore .env files in subdirectories
**/.env

# Ignore node_modules directory
node_modules/

# Ignore node_modules directory in any subfolder
**/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
